[user]
	name = aloneZERO
[user]
	email = alonezero@foxmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	tabsize = 4
	recentrepo = D:/Documents/GitHub/Hello-GitHub
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Crest -%C(yellow)%d%Crest%s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = 'F:/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	quotepath = false
	autocrlf = true
[color]
	ui = auto
[push]
	default = upstream
[merge]
	conflicstyle = diff3
