[user]
	name = aloneZERO
[user]
	email = alonezero@foxmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	tabsize = 4
	recentrepo = C:/Users/Administrator/Desktop/wecard
	fontui = -family 微软雅黑 -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8
	fontdiff = -family \"YaHei Consolas Hybrid\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	recentrepo = C:/Users/Administrator/Desktop/Recent/WeCard/wecard-backend
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset%s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	# editor = 'F:/Favorite/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	quotepath = false
	autocrlf = true
[color]
	ui = auto
[push]
	default = upstream
[merge]
	conflicstyle = diff3
[winUpdater]
	recentlySeenVersion = 2.16.3.windows.1
